<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
        <!--
      <h3 class="masthead-brand">{{ title }}</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">INICIO</a>
        <a class="nav-link" href="#">SERVIÇOS</a>
        <a class="nav-link" href="#">CONTATO</a>
      </nav>
        -->
    </div>
  </header>
  <main role="main" class="inner cover">
    <p class="lead">DESENVOLVIMENTO DE SOFTWARES E CONSULTORIA DE TI</p>
    <h1 class="cover-heading">SOFTWARES QUE FUNCIONAM E RESOLVEM PROBLEMAS</h1>
    <br>
    <div class="lead">
      <form>
        <div class="form-group">
          <label for="nomeContato">Nome</label>
          <input type="text" class="form-control" id="nomeContato" aria-describedby="nomeContato" placeholder="Informe o Nome"
          [(ngModel)]="nomeContato" name="nomeContato"
          (ngModelChange)="limpaCampos()">
        </div>
        <div class="form-group">
          <label for="emailContato">E-Mail</label>
          <input type="text" class="form-control" id="emailContato" aria-describedby="emailContato" placeholder="Informe o E-Mail"
          [(ngModel)]="emailContato" name="emailContato">
        </div>
        <div class="form-group">
          <label for="foneContato">Telefone</label>
          <input type="text" class="form-control" id="foneContato" aria-describedby="foneContato" placeholder="Informe o Telefone"
          [(ngModel)]="foneContato" name="foneContato">
        </div>
        <div class="form-group">
          <label for="mensagemContato">Mensagem</label>
          <textarea class="form-control" [(ngModel)]="mensagemContato" name="mensagemContato" id="mensagemContato" aria-describedby="mensagemContato" placeholder="Informe a Mensagem"  rows="3"></textarea>
        </div>
        <div class="btn btn-primary" (click)="fazerContato()">Enviar</div>
      </form>
      <h3 class="">contato@zibeltecnologia.com.br</h3>
      <div class="{{ classFezContato }}">{{ msgFezContato }}</div>
    </div>

</main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    </div>
  </footer>
</div>